@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 8th Edition
   Tutorial 5
   Tutorial Case
   
   Author:   Paris Jones
   Date:  12/17/24
   
   Filename: project2-2.css
   
   This file contains the flex styles used in the Betta Fish page.

*/

.flex-container {
  display: flex;
  background-color:  rgb(142, 73, 75);
  position: static;
  border: 3px solid #73AD21;
}

.flex-container > div {
  background-color: rgb(220, 165, 164);
  margin: 8px;
  align-items: center;
  padding: 20px;
  font-size: 30px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 40%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
  column-count: 1;
  padding: 60px;
  border: 13px solid rgb(34, 46, 69);
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}